body {
  background-color: rgb(25, 25, 25);
  color: white;
}

/* #homepage {
  background-image: url("./assets/Pic/Memopad.png");
  background-size: cover;
  background-attachment: scroll;
} */
